.img{position: absolute;
width: 239px;
height: 239px;
left: 64px;
top: 10px;

background: url(logo.jpg);
border-radius: 275px;}

.inicio{
position: absolute;
width: 185px;
height: 39px;
left: 438px;
top: 66px;

font-family: 'Jockey One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 50px;

color: #000000;}
.galeria{position: absolute;
width: 94px;
height: 50px;
left: 720px;
top: 66px;

font-family: 'Jockey One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 50px;

color: #000000;
}
.contato{position: absolute;
width: 103px;
height: 50px;
left: 937px;
top: 66px;

font-family: 'Jockey One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 50px;

color: #000000;
}
